<!DOCTYPE html>
<html>
<head>
    <style>
        header {
            background-color: rgba(182, 4, 2, 0.73);
            color:white;
            text-align:left;
            padding:5px;
        }
        nav {
            line-height:30px;
            background-color: rgba(185, 170, 170, 0.44);
            height:300px;
            width:250px;
            float:left;
            padding:5px;
        }
        section {
            width:300px;
            float:left;
            padding:10px;
        }
        footer {
            background-color: rgba(185, 170, 170, 0.44);
            color: rgba(0, 0, 0, 0);
            clear:both;
            text-align:center;
            padding:5px;
        }
    </style>
    <title>Video Game Reviewer</title>
</head>
<body>

<header>
    <h1>Video Game Reviewer</h1>


</header>

<nav>
    <a href="../">Home</a>
    </br>
    <a href="/">Sign In</a>
    </br>
    <a href="/users/create">Sign Up</a>
    </br></br>
    <a href ="/games/all"> View All Games</a>
    </br>
    <a href="/games/create">Add New Game</a>
    </br>
    <a href="/review/all">View All Reviews</a>
    </br>
    <a href="/users/all">View All Users</a>


</nav>

