<% include partials/header %>

  <body>

  <header>
    <img src="http://www.cs.sonoma.edu/~haderman/cs355/labs/cs355.png" alt="CS355" style="width:150px;height:110px;">
  </header>

  <nav>
    <a href="http://www.cs.sonoma.edu">CS site</a>
    <br>
    <a href="http://www.cs.sonoma.edu/~haderman/cs355">CS 355 site</a>
    <br>
    <a href="http://www.sonoma.edu">SSU site</a>
    <br>
    <a href="/account/all">Get All Accounts</a>
    <br/>
    <a href="/movie/all">Get All Movies</a>
      <br/>
      <a href="/account/create">Add a User</a>
  </nav>

  <section>
      <table border="1">
          <tr>
              <th>Course Num</th>
              <th>Course Title</th>
              <th>Professor</th>
          </tr>
          <tr>
              <td>CS355</td>
              <td>Database Design</td>
              <td>Haderman</td>
          </tr>
          <tr>
              <td>CS330</td>
              <td>Game Design</td>
              <td>Gill</td>
          </tr>
          <tr>
              <td>MATH211</td>
              <td>Calc II</td>
              <td>Morris</td>
          </tr>
          <tr>
              <td>CS370</td>
              <td>Application Development</td>
              <td>Fisher</td>
          </tr>
      </table>
      <br>
      Top 3 Things I've Learned
      <ol>
          <li>SQL</li>
          <li>Database design</li>
          <li>DALs</li>
      </ol>
      3 Things I wish to learn
      <ul>
          <li>css</li>
          <li>Java script</li>
          <li>functional dependencies</li>
      </ul>

  </section>

<% include partials/footer %>