<%include partials/header%>
<section>
    <p>The purpose of this website is to allow users to look at, and make reviews of video games</p>
    </br>
    <p>As a developer, we want users to share their opinions on all the games they desire</p>
    </br>
    <p>Contact us at the following email: Videogamereviewer@gmail.com</p>
</section>
<%include partials/footer%>