<%include partials/header%>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-Mail</th>
        </tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><%= rs[i].first_name %></td>
            <td><%= rs[i].last_name %></td>
            <td><%= rs[i].email %></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No users exist.
    <% } %>
</div>

<%include partials/footer%>