<!DOCTYPE html>
<html>
<head>
    <style>
        header {
            background-color: rgba(182, 4, 2, 0.73);
            color:white;
            text-align:left;
            padding:5px;
        }
        nav {
            line-height:30px;
            background-color: rgba(185, 170, 170, 0.44);
            height:300px;
            width:250px;
            float:left;
            padding:5px;
        }
        section {
            width:300px;
            float:left;
            padding:10px;
        }
        footer {
            background-color: rgba(185, 170, 170, 0.44);
            color: rgba(0, 0, 0, 0);
            clear:both;
            text-align:center;
            padding:5px;
        }
    </style>
    <title><%= title %></title>
</head>
<body>

<header>
    <h1><%= title %></h1>


</header>

<nav>
    <a href ="/games/all"> Get all games</a>
    </br>
    <a href="/games/create">Add New Game</a>
    </br>
    <a href="/">Sign In</a>
    </br>
    <a href="/">Sign Up</a>
</nav>

<section>
    <img src="http://cdn.segmentnext.com/wp-content/uploads/2016/01/Video-Games-Controllers-620x349.jpg" alt="Games" style="width:304px;height:300px;">
</section>

<footer>
    <a href="/">About Us</a>
</footer>

</body>
</html>