<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>: <%= subtitle %></h1>
    <p>Welcome to <%= title %></p>
    <a href="http://www.cs.sonoma.edu/~haderman/cs355/">CS355</a>
  <br/>
    <a href="/templatelink">Template Link Example</a>
    <br/>
    <a href="/account/all">Get All Accounts</a>
    <br/>
    <a href="/movie/all">Get All Movies</a>

  </body>
</html>
